body{
	background-image: url(images/space.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:
}
a {
 	color: inherit; 
 }

#myHeader {
    color: white;
    text-align: center;
  	margin-top: 10%;
    font-size: 70px;
    font-family: 'Modak', cursive;
}

#SocialMedia{
	padding-top: 100px;
}


#ContactMe{
	color: white;
    position: fixed;
    font-family: 'Modak', cursive;
  	font-size: 35px;
  	padding-left: 80%;
  	top:0;
  	right:0;
  	
}
